<h3>Chat</h3>
<hr>

<div class="app-mensajes" id="app-mensajes">
    <div
    [ngClass]="{ 'text-right': chatService.usuario.uid === chat.uid }"
    *ngFor="let chat of chatService.chats">
        <span class="badge"
        [ngClass]="{
        'badge-primary': chatService.usuario.uid === chat.uid,
        'badge-success': chatService.usuario.uid !== chat.uid 
        }">
        {{ chat.nombre }}
        </span>
        <p>{{ chat.mensaje }}</p>
    </div>
</div>

<div class="d-flex">
    <input type="text" name="mensaje"
    [(ngModel)]="mensaje"
    [disabled]="isLoading"
    class="form-control"
    (keyup.enter)="enviarMensaje()"
    placeholder="Enviar mensaje">
    <button class="btn-send" (click)="enviarMensaje()">
        <img src="assets/send.png" alt="">
    </button>
</div>
