<div class="container main-container">
  <h1>Firechat</h1>

  <div class="row"
  *ngIf="chatService.usuario.uid">
    <div class="col-10 text-left">
      <img class="rounded-circle img-profile"
      [src]="chatService.usuario.img"
      [alt]="chatService.usuario.nombre">
      <div class="font-weight-bold m-2">
        {{ chatService.usuario.nombre }}
      </div>
    </div>
    <div class="col-2 text-right my-2">
      <img src="assets/logout.png" alt="salir"
      (click)="chatService.logout()">
    </div>
  </div>

  <app-login *ngIf="!chatService.usuario.uid"></app-login>

  <div class="chat-window" *ngIf="chatService.usuario.uid">
    <app-chat></app-chat>
  </div>
</div>

<footer class="bg-dark text-white">
  <div class="d-flex p-5">
    Icons made by <a href="https://www.flaticon.com/authors/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
  </div>
</footer>