<div class="row">
    <div class="col-md-12 text-center">
        <p>Ingrese al chat con su cuenta favorita</p>

        <button type="button"
            class="btn btn-outline-success m-2"
            (click)="ingresar('google')"
            >
            <img src="assets/google.png" alt="" srcset="">
            Google
        </button>

        <button type="button"
        class="btn btn-outline-info m-2"
        (click)="ingresar('twitter')"
        >
        <img src="assets/twitter.png" alt="" srcset="">
        Twitter</button>
    </div>
</div>